@import "ember-element-ui";




header.header{
  padding: 0;
  border-bottom: 1px solid #0000001f;
  .hamburger-container{
    float: left;
    height: 50px;
    line-height: 58px;
    padding: 0 10px;

    &>.hamburger{
      -webkit-transform: rotate(90deg);
      -webkit-transform-origin: 50% 50%;
      -webkit-transition: .38s;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      transform: rotate(90deg);
      transform-origin: 50% 50%;
      transition: .38s;
      width: 20px;

      &.is-active{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }
}

main.container{
  //background-color: #f0f2f5;
}
