<button type="button" class={{this.className}} onclick={{this.click}} ...attributes>
  {{yield}}
  {{#if @loading}}
    <i class="el-icon-loading"></i>
  {{/if}}
  {{#if this.showIcon}}
    <i class={{@icon}}></i>
  {{/if}}
</button>
