<div class="el-card {{this.className}}">
  {{yield
  (hash
    header=(component "el-card-header" object=object bodyStyle=@bodyStyle)
    body=(component "el-card-body" object=object bodyStyle=@bodyStyle)
  )
}}
</div>