{{input
  type="checkbox"
  checked=model
  name=name
  disabled=disabled
  tabindex=tabindex
  autofocus=autofocus
  form=form
  class='el-checkbox__original'
}}
<span class="el-checkbox-button__inner">
  {{yield}}
</span>




