<div class="el-submenu__title" {{action 'collapse'}}>
  {{#if icon}}<i class="{{icon}}"></i>{{/if}}
  <span>{{title}} </span>
  <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
</div>


{{#liquid-if isOpen use="crossFade" growDuration=500}}
  {{yield}}
{{/liquid-if}}