<div>
  <div class="el-steps {{directionHandler}}">
    {{yield
      (hash
        step=(component "ElStep" object=object
        stepsIncrement= (action "stepsIncrement")
        steps = steps
        )
      )
    }}
  </div>
</div>
