<p></p>

<h3>Intro</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
{{#card.header title="This is great"}}{{/card.header}}
  {{#card.body}}
<pre>Ember ui elements</pre>
  {{/card.body}}
{{/el-card}}