<p></p>

<h2>Introduction</h2>
<p>
  <a href="https://element.eleme.io/" target="_blank"> Elements UI </a> is a very fine UI components library built for VUE. It was ported to Angular and React as well.
  But there was no implementation of this in Ember JS.
</p>

<h3>Still under development</h3>
<p>
  This library is still under active development
</p>
<a href="https://www.npmjs.com/package/ember-element-ui" target="_blank">
  <img src="https://img.shields.io/npm/v/ember-element-ui.svg"/>
</a>
<a href="https://travis-ci.org/aalasolutions/ember-element-ui" target="_blank">
  <img src="https://travis-ci.org/aalasolutions/ember-element-ui.svg?branch=master"/>
</a>
<a href="https://coveralls.io/github/aalasolutions/ember-element-ui?branch=master" target="_blank">
  <img src="https://coveralls.io/repos/github/aalasolutions/ember-element-ui/badge.svg?branch=master"/>
</a>
<a href="http://emberobserver.com/addons/ember-element-ui" target="_blank">
  <img src="http://emberobserver.com/badges/ember-element-ui.svg"/>
</a>
<a href="https://david-dm.org/aalasolutions/ember-element-ui" target="_blank">
  <img src="https://img.shields.io/david/aalasolutions/ember-element-ui.svg"/>
</a>

<img src="https://img.shields.io/npm/dm/ember-element-ui.svg"/>
<img src="https://img.shields.io/bundlephobia/min/ember-element-ui.svg"/>
<img src="https://img.shields.io/github/last-commit/aalasolutions/ember-element-ui.svg"/>



{{!--{{#el-card class="box-card" shadow="hover" as |card|}}--}}
{{!--{{#card.header title="This is great"}}{{/card.header}}--}}
{{!--{{#card.body}}--}}
{{!--<pre>Ember ui elements</pre>--}}
{{!--{{/card.body}}--}}
{{!--{{/el-card}}--}}