<div>
<h3>Installation</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
{{#card.header title="Well Its very easy"}}{{/card.header}}
  {{#card.body}}
<pre><code class="language-bash">$ ember install ember-element-ui
</code></pre>
  {{/card.body}}
{{/el-card}}
</div>